@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "roboto","sans-serif";
}
/*Inicio estilização header*/
.nav{
    background-color: #181818;
    height: 80px; /*altura*/
    width: 100%;/*largura*/
    display: flex;
    justify-content: flex-end;
    position:sticky;
    top: 0;
    z-index: 9;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}
.nav-list a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}
.nav-list a:hover{
    color: #fff;
    border-bottom: 5px solid white;
}
/*Fim estilização header*/

/*Inicio do Main*/

.main{
    width: 100%;
    background-color: black;
    height: calc(100vh - 80px);
    background-image: url("imagens/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.main h1{
    color: #fff;
    font-size: 54px;
}
.main p {
    font-size: 24px; /* Tamanho da fonte*/
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom: 35px;
}
.call-to-action{
    cursor:pointer;
    background-color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;/*Arredondar botão*/
    font-size: 18px;/* Tamanho da fonte*/
    font-weight: bold; /*deixaar nergrito*/
    transition: 0.9s;

}
.call-to-action:hover{
    transform: scale(1.1);/*Deixar o botão maior quando passar o mouse*/    

}
.main a {
    text-decoration: none;
    color: #181818;
}
/*Fim do Main*/


/*Inicio área sobre*/

.about{
    background-color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;/*Deixar itens lado a lado*/
    align-items: center;
    justify-content: space-between; 
}
.about div{
   max-width: 50%;
    padding-right: 40px;
}
.about img{
    max-width: 450px;
    border-radius: 8px;
}
.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}
/*Fim área sobre*/

/*Inicio Projetos*/

.projects{
    width: 100%;
    display: flex;
    flex-direction: column; /*Deicar os itens em colunas*/
    align-items: center;
    justify-content: center;
    padding: 80px;

}
.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}
.projects p{
    margin-bottom: 40px;
    font-style: italic;
}
.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}
.projects img:hover{
    opacity: 1;
}
.action{
    background-color: #181818;
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
}

/*Fim Projetos */
/*inicio rodapé*/
footer{
    width: 100%;
    background-color: #181818;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #1e96fc;
}
footer p{
    margin-left: 12px;
}
/*fim rodapé*/


/*Inicio Responsividade*/
@media(max-width:900px){
    .about img{
    width: 400px;
    }
    .main{
        width: 100%;
    }
}
@media(max-width:840px){
    .about img{
    width: 300px;
    }
    .main{
        width: 100%;    
    }
}
@media(max-width:750px){
    .about div{
       max-width: 100%;
    }
    .about{
        width: 100%;
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .about p{
         width: 100%;
         margin-bottom: 20px;
      
    }
    .projects img{
        width: 140px;
    }
}

/*Fim responsividade*/